<div style="width: 330px; margin: 80px auto 0 auto;">
	<div style="font-size: 22px">竟然没帮您找到符合条件的房子</div>
	<div style="font-size: 14px">请调整或扩大筛选范围后再试试</div>
	<div style="font-size: 14px; padding-top: 40px;">扩大范围</div>
	<div style="font-size: 12px; color: #888">
		选择区域时，范围可以稍微宽松一点，再逐步缩小范围。对区域过于严苛的筛选可能使您错失合适的房源。</div>
	<div style="font-size: 14px; padding-top: 40px;">不要错过区域边界的房子</div>
	<div style="font-size: 12px; color: #888">
		处于区域交界处的房子很容易被错过，例如您希望寻找徐汇的房源，但由于长宁与徐汇交界，处在长宁边缘的房子很可能符合您的需求，您应该在长宁区也找找看，好房子值得您付出一点辛苦，慢慢来。</div>
</div>
