.subNav a {
    color: #009cff;
    text-decoration: none;
    margin-right: 20px;
}
.subNav .innerWraper div {
    padding: 7px 0 0 60px;
    font-size: 13px;
    width: 300px;
    float: left;
}
.hirecon p {
    line-height: 20px;
    color: #666666;
    font-size: 13px;
    margin: 0 0 0 80px;
}
.hirecon h2 {
    color: red;
    margin: 0 0 30px 0;
    font-size: 20px;
}
.hirecon h3 {
    font-size: 16px;
    color: #434343;
}

.hirecon h2 input{
    width: 220px;
    float: right;
    margin: 0;
    height: 20px;
    padding: 2px;
    background: url(./images/telephoneNote.png) no-repeat center center;
}
.hirecon h2 input.nobg{
    background: none;
}
.innerWraper {
    width: 960px;
    margin-bottom: 70px;
    margin-top: 80px;
}
.hirecon .btn {
    background: #cc080a;
	border: 1px solid #ed5b5e;
	color: #fff;
}
.position .input-group {
	width: 360px;
}
.position .input-group input,
.position .input-group .btn {
	border-radius: 0;
}
.position-desc{
	font-size: 14px;
	color: #000;
	margin-top: 20px;
	line-height: 26px;
}
